.hero__btn{
    background: rgba(32, 115, 199);
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    border: 1px solid rgba(32, 115, 199);
}

.hero__btn:hover{
    background: white ;
    color: rgba(32, 115, 199) ;
    border: 1px solid rgba(32, 115, 199);
}