*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo{
    width: 50px;

}

nav :first-child{
    font-size: small;
}

.category-btn {
    background-color: #ede9fe; 
    color: #754ffe;            
    border: none;
    border-radius: 6px;
    padding: 10px 18px;
    font-weight: 600;
}

.category-btn i {
    color: #754ffe;
    font-size: 20px;
}

.category-btn:hover {
    background-color: #e2dbfc;
    color: #754ffe;
}

.icon-btn{
    width: 45px;
    height: 45px;
    font-size: 18px;
}

.play{
    background: rgba(30, 190, 244);
    color: white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signin-btn{
    border: 1px solid #754ffe;
    color: #754ffe;
    padding: 10px 22px;
    font-weight: 600;
    font-size: small;
}

.signin-btn:hover{
    background: #754ffe;
    color: white;
}

.signup-btn{
    background: #754ffe;
    color: white;
    padding: 10px 22px;
    font-weight: 600;
    font-size: small;
}

.signup-btn:hover{
    background: #6842e8;
    color: white;
}

.tabs {
    background-color: #e9eef5;
    border-radius: 6px;
    padding: 0 20px;
}

.tabs .nav-link {
    color: #6c757d;
    padding: 18px 30px;
}

.tabs .nav-link:active {
    color: #754ffe;
    border-bottom: 3px solid #754ffe;
}

.tabs .nav-link:hover {
    color: #754ffe;
    border-bottom: 3px solid #754ffe;
}


.enroll{
    color: rgba(111, 66, 193);
    cursor: pointer;
}
.fav{
    .fav-off{
        display: block;
    }
    .fav-on{
        display: none;
    }
}
.fav:active, .fav:hover{
    .fav-off{
        display: none;
    }
    .fav-on{
        display: block;
        color: red;
    }
    
    
}

