.category-btn {
    background-color: #ede9fe;   /* Light violet */
    color: #754ffe;              /* Violet */
    border: none;
    border-radius: 6px;
    padding: 10px 18px;
    font-weight: 600;
}

.category-btn i {
    color: #754ffe;
    font-size: 20px;
}

.category-btn:hover {
    background-color: #e2dbfc;
    color: #754ffe;
}

.icon-btn{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #f8f9fa;
    border: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.signin-btn{
    border: 1px solid #754ffe;
    color: #754ffe;
    background: white;
    padding: 10px 22px;
    font-weight: 600;
}

.signin-btn:hover{
    background: #754ffe;
    color: white;
}

.signup-btn{
    background: #754ffe;
    color: white;
    padding: 10px 22px;
    font-weight: 600;
}

.signup-btn:hover{
    background: #6842e8;
    color: white;
}

.courses-tabs {
    background-color: #e9eef5;
    border-radius: 6px;
    padding: 0 20px;
}

.courses-tabs .nav-link {
    color: #6c757d;
    padding: 18px 30px;
}

.courses-tabs .nav-link.active {
    color: #754ffe;
    border-bottom: 3px solid #754ffe;
}

.course-card {
    border: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
}

.course-img {
    height: 120px;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
}

.course-card h5 {
    font-size: 16px;
    margin-top: 18px;
}

.course-card p {
    font-size: 14px;
    color: #6c757d;
}

.rating {
    color: orange !important;
}